// Import page-specific CSS files here.
@import "home";

.index-title {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    margin-bottom: 24px;


  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .container {
    top: initial;
  }

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.style-card a {
  text-decoration: underline;
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.chair-address {
  font-weight: 100;
  font-size: 14px;
  color: grey;
}

.text-yellow {
  color: #F9DC5C;
}
