.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  width: 100%;
  background-color: #2E4053;
  border: 3px solid #283747;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: black;
}

.nav-link {
  color: white;
}



.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.notice {
  text-align: center;
  background-color: #2E4053;
  color:white;
}
